/*body {*/
    /*background-color: #f7f9fc;*/
/*}*/

/*h1 {*/
    /*!*font-family: Lato;*!*/
    /*color: #000000;*/
    /*font-size: 40px;*/
    /*font-weight: 700;*/
    /*line-height: 50px;*/
    /*text-align: left;*/
/*}*/

/*p {*/
    /*!*font-family: Lato;*!*/
    /*color: rgba(0, 0, 0);*/
    /*font-size: 17px;*/
    /*font-weight: 400;*/
    /*line-height: 30px;*/
    /*text-align: left;*/
/*}*/

/*div.header a {*/
    /*text-decoration: none;*/
/*}*/

/*.logo {*/
    /*!*font-family: Lato;*!*/
    /*color:  #333333;*/
    /*font-size: 42px;*/
    /*font-weight: 700;*/
    /*font-style: italic;*/
    /*line-height: 25px;*/
    /*text-align: left;*/
/*}*/

/*ul.header-menu, ul.footer-menu {*/
    /*margin: 0;*/
    /*padding: 4px;*/
    /*display: inline;*/
/*}*/

/*ul.header-menu li{*/
    /*display: inline;*/
    /*!*font-family: Lato;*!*/
    /*color:  #333333;*/
    /*font-size: 16px;*/
    /*font-weight: 700;*/
    /*line-height: 25px;*/
    /*text-align: right;*/
/*}*/

/*div.footer a {*/
    /*!*font-family: Lato;*!*/
    /*color: rgba(0, 0, 0, 0.06);*/
    /*font-size: 36px;*/
    /*font-weight: 700;*/
    /*font-style: italic;*/
    /*line-height: 25px;*/
    /*text-align: center;*/
/*}*/

/*ul.footer-menu li{*/
    /*display: inline;*/
    /*!*font-family: Lato;*!*/
    /*color: #ffffff;*/
    /*font-size: 16px;*/
    /*font-weight: 700;*/
    /*line-height: 25px;*/
    /*text-align: right;*/
/*}*/

/*div.footer p {*/
    /*!*font-family: Lato;*!*/
    /*color: #ffffff;*/
    /*font-size: 13px;*/
    /*font-weight: 400;*/
    /*line-height: 23px;*/
    /*text-align: center;*/
/*}*/

/*.blogpost {*/
    /*background-color: #ffffff;*/
    /*box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);*/
    /*width: 952px;*/
    /*height: 643px;*/
    /*margin: auto;*/
/*}*/

/*.prephrase {*/
    /*!*font-family: Lato;*!*/
    /*color: #7f7f7f;*/
    /*font-size: 25px;*/
    /*font-style: italic;*/
    /*line-height: 38px;*/
    /*text-align: left;*/
/*}*/
/*.footer {*/
    /*background-color: #5c6bc0;*/
    /*width: 1400px;*/
    /*height: 530px;*/
/*}*/